.w-3{
    width: 33.333%;
}
.w100{
    width: 100%;
}
.w80{
    width: 80%;
}
.w70{
    width: 70%;
}
.w60{
    width: 60%;
}
.w50{
    width: 50%;
}
.w40{
    width: 40%;
}
.w30{
    width: 30%;
}
.w27{
    width: 27%;
}
.w24{
    width: 24%;
}
.w20{
    width: 20%;
}
.w23{
    width: 23%;
}
.w10{
    width: 10%;
}



.h200{
    height: 200px;
}
.h300{
    height: 300px;
}
.h400{
    height: 400px;
}
.h500{
    height: 500px;
}
.h600{
    height: 600px;
}
.h700{
    height: 700px;
}
.h800{
    height: 800px;
}
.h900{
    height: 900px;
}
.h8em{
    height: 8em;
}
.h10em{
    height: 10em;
}



.m-auto{
    margin: auto;
}
.m-0{
    margin: 0;
}
.m-2{
    margin: 2em;
}
.m-3{
    margin: 3em;
}

.mt-0{
    margin-top: 0;
}
.mt-2{
    margin-top: 2em;
}
.mt-3{
    margin-top: 3em;
}

.mr-0{
    margin-right: 0;
}
.mr-2{
    margin-right: 2em;
}
.mr-3{
    margin-right: 3em;
}

.mb-0{
    margin-bottom: 0;
}
.mb-2{
    margin-bottom: 2em;
}
.mb-3{
    margin-bottom: 3em;
}

.ml-0{
    margin-left: 0;
}
.ml-2{
    margin-left: 2em;
}
.ml-3{
    margin-left: 3em;
}




.p-0{
    padding: 0;
}
.p-1{
    padding: 1em;
}
.p-2{
    padding: 2em;
}
.p-3{
    padding: 3em;
}