/*===============================
=          MEDIA QUERIES
===============================*/

@media screen and (max-device-width: 500px) {
    
    .articles{
        flex-direction: column;
    }
    .article{
        width:100%;
        margin: 0;
    }
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .more{
        margin: 3em 0 0;
    }
    .nav{
        width: 95%;
    }
    .plat{
        width: 100%;
    }
    header{
        flex-direction: column;
    }
    
    [id="noidea"]:checked ~ nav a, [id="noidea"]:checked ~ nav  {
      transform: translateX(0);
    }
    .mobilenav{
        visibility: visible;
        display: flex;
    }
    
    
        .mobilenav .logo{
            width: 3em;
            margin: .6em;
            fill: inherit;
        }
    
    .swiper-slide {
        text-align: center;
        height: 40%;
    }
    
}

/*===============================
=       End of MEDIA QUERIES
===============================*/