.center-text{
    text-align: center;
}
.grey-text{
    color: #848789;
}
.lato-reg{
    font-family: 'Lato';
    font-weight: 400;
}
.lato-thin{
    font-family: 'Lato';
    font-weight: 300;
}
.up{
    text-transform: uppercase;
}
.justify{
    text-align: justify;
}
.text-height{
    line-height: 1.8em;
}
.work-p{
    font-size: 14px;
}
.work-h2{
    font-size: 18px;
}
a{
    text-decoration: none;
}
.space-L{
   letter-spacing: 3px; 
}
.space-M{
    letter-spacing: 2px;
}