/*------------------------------------------------------------------/*
Website Name: 
Website URI: 
Description: 
Author URI: http://bastiensetoain.fr/
Author: Bastien Setoain
Version: 1.0
Last change:  10-01-2016
*/

body{
    margin: 0;
}


/*===============================
=          HEADER
===============================*/
header{
    background: center center / cover no-repeat url(../img/teahupoo.jpg);
    height: 600px;
}
nav{
    position: absolute;
    background-color: aquamarine;
    height: 50px;
}


/*===============================
=       End of HEADER
===============================*/


/*===============================
=          FOOTER
===============================*/



/*===============================
=       End of FOOTER
===============================*/


/*===============================
=          FONTS
===============================*/



/*===============================
=       End of FONTS
===============================*/


/*===============================
=          MEDIA QUERIES
===============================*/



/*===============================
=       End of MEDIA QUERIES
===============================*/
