<footer class="flex center-h around">
    
    <div class=" w40 flex around">
        
        {% for item in footermenu.get_items %}
    
            <a href="{{ item.get_link }}">{{ item.title }}</a>

        {% endfor %}
        
    </div>
    <div>
        {{ TimberPost(108).content }}
    </div>
    
</footer>