{% extends'base.twig' %}


{% block content %}

<main>
 
  
  <div class="container">
  
  
    
    <section class="blog">
        <h2>Derniers Articles</h2>
        <div class="articles">
            {% for post in articles %}

                   <div class="article">
                    <h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
                    <img src="{{ post.thumbnail }}">
                    </div>


            {% endfor %}
        </div>
    </section>
    
    </div>
    
</main>

{% endblock %}