{% extends'base.twig' %}


{% block content %}

<main>
 
  
  <div class="container">
  
  
    
    <section class="blog">
        <h2>Le Menu</h2>
        <div class="plats">
            {% for post in plats %}
                    <div class="plat">
                        <h3>{{ post.title }}</h3>

                        <p>{{ post.content }}</p>
                        <p>{{post.get_field('prix')}} €</p>
                    </div>

            {% endfor %}
        </div>
    </section>
    
    </div>
    
</main>

{% endblock %}