{% extends'base.twig' %}


{% block content %}

<main>
 
  
  <div class="w80 m-auto">
  
  
    
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    
    </div>
    
</main>

{% endblock %}