{% extends'base.twig' %}


{% block content %}

<main>
 
  
  <div class="w80 m-auto">
  
  
    
    <section class="restos">
        <h2 class="flex center-h flex-start">{{ post.title }} <hr></h2>
        
        <div class="restaurants">
           <div class="json flex row wrap center center-h"></div>
        </div>
    </section>
    
    </div>
    
</main>

{% endblock %}