{% extends'base.twig' %}


{% block content %}

<main>
 
  
  <div class="container">
  
  
    
    <section class="restos">
        <h2>Restaurants</h2>
        
        <div class="restaurants">
           <div class="json"></div>
        </div>
    </section>
    
    </div>
    
</main>

{% endblock %}